extends layout

block content
	h1 Tabulated #{list} results
	hr
	a(href='/').btn.btn-default Return to Voting
	br
	ul First Round Results
		hr
		for results in firstRoundResults
			li #{results.firstChoice}: #{results.votes} votes | #{results.percentage}% of vote #{results.message}
	//- ul Second Round Results
	//- 	hr
	//- 	for results in secondRoundResults
	//- 		li #{results.firstChoice}: #{results.votes} votes | #{results.percentage}% of vote #{results.message}
	//- ul Next Round Results
	//- 	hr
	//- 	for results in nextRoundResults
	//- 		li #{results.firstChoice}: #{results.votes} votes | #{results.percentage}% of vote #{results.message}
	div#template-results
	include template.html		